# Import dependencies

In [1]:
import pandas as pd
# !pip install openpyxl
import openpyxl
from sqlalchemy import create_engine
import sqlite3 as sql
import pandas as pd

### Retrieve data from excel files

In [2]:
excel_file = 'Data_Tables_LGA_Criminal_Incidents_Year_Ending_March_2022.xlsx'
all_sheets = pd.read_excel(excel_file, sheet_name=None)
sheets = all_sheets.keys()

for sheet_name in sheets:
    sheet = pd.read_excel(excel_file, sheet_name=sheet_name)
    sheet.to_csv("%s.csv" % sheet_name, index=False)

Contents
Table 01

Criminal incidents and rate per 100,000 population by police region and local government area - April 2012 to March 2022
Table 02

Criminal incidents and rate per 100,000 population by principal offence, local government area and police service area - April 2012 to March 2022
Table 03

Criminal incidents by principal offence, local government area and postcode or suburb/town - April 2012 to March 2022
Table 04

Criminal incidents by location type and local government area - April 2012 to March 2022
Table 05

Criminal incidents by charge status and local government area - April 2012 to March 2022
Data exclusions
Table 01

excludes criminal incidents where the geographic location is unknown. For further information of these geographic locations please refer to the Explanatory Notes and Glossary on the website.
Tables 02 - 05

excludes criminal incidents at Justice institutions and immigration facilities, Unincorporated Victoria and where the geographic location is unknown. For further information of these geographic locations please refer to the Explanatory Notes and Glossary on the website.
Notes
Recorded crime statistics are based on data extracted by Victoria police on the 18th day after the reference period, and are subject to movement between releases. For more information about how statistics are compiled, refer to the Explanatory notes on the CSA website.
In order to maintain confidentiality, sensitive offence counts for subdivisions 'A10 Homicide and related offences' and 'A30 Sexual offences' with a value of 3 or less are given a value of 2 to calculate totals. Rates are based on populations provided by the Australian Bureau of Statistics (ABS). The most recent year of data was not available from the ABS in time for it to be used to calculate current year rates. The CSA uses estimates created by the Victorian State Government 'Victoria in Futures' report.
This work is licenced under a Creative Commons Attribution 4.0 International License. When reporting this data you must attribute the Crime Statistics Agency (or CSA) as the source.

### Loop thru excel file to convert various worksheets to csv files

In [3]:
#Create list of dataframes from csv files
file_list = []
for i in range(1,7):
    file_list.append(f"Table 0{i}.csv")

df_list = [pd.read_csv(file) for file in file_list]
file_list

['Table 01.csv',
 'Table 02.csv',
 'Table 03.csv',
 'Table 04.csv',
 'Table 05.csv',
 'Table 06.csv']

### Create and clean police_region_df from Table1 which is high level data, starts from Police Region

In [9]:
# create data frame
region_lga_df = pd.read_csv("Table 01.csv")
# region_lga_df

In [10]:
# strip our blanks from Local Government Area(LGA) and drop duplcates to 
# create a datafream that matched Police Regions to LGA
region_lga_df["Local Government Area"] = region_lga_df["Local Government Area"].str.strip()
region_lga_map_df =region_lga_df[["Local Government Area","Police Region"]].drop_duplicates().reset_index(drop=True)
# region_lga_map_df.info()
# region_lga_map_df.head()

### Create and clean LGA_Offence_df_2019_2022 from Table 02 which in more granular in terms of both area and nature of offences

In [11]:
# Exract rows that are greater than year 2018 (use 4 years data, 2019-2022) 
# and drop column 'Year ending' as the crime tables are created on March (no date details) every year.
lga_offence_2019_2022_df = df_list[1].loc[df_list[1].Year > 2018].drop ('Year ending', axis=1)
# lga_offence_2019_2022_df.info()

In [12]:
# Join Police Region onto the lga_offence_2019_2022_df
region_psa_lga_offence_2019_2022_df=pd.merge(lga_offence_2019_2022_df, region_lga_df [["Police Region","Local Government Area"]],
       on="Local Government Area")

offence_2019_2022_df = region_psa_lga_offence_2019_2022_df.drop_duplicates()
offence_2019_2022_df.head()

,Year,Offence Division,Offence Subdivision,Offence Subgroup,Incidents Recorded,"PSA Rate per 100,000 population","LGA Rate per 100,000 population",Local Government Area,Police Service Area,Police Region
0,2022,A Crimes against the person,A10 Homicide and related offences,A10 Homicide and related offences,5,4.059101,4.328089,Ballarat,Ballarat,4 Western
10,2022,A Crimes against the person,A20 Assault and related offences,A211 FV Serious assault,120,97.418429,103.874128,Ballarat,Ballarat,4 Western
20,2022,A Crimes against the person,A20 Assault and related offences,A212 Non-FV Serious assault,147,119.337575,127.245807,Ballarat,Ballarat,4 Western
30,2022,A Crimes against the person,A20 Assault and related offences,"A22 Assault police, emergency services or othe...",53,43.026473,45.877740,Ballarat,Ballarat,4 Western
40,2022,A Crimes against the person,A20 Assault and related offences,A231 FV Common assault,222,180.224093,192.167137,Ballarat,Ballarat,4 Western

In [13]:
offence_division_summary_df = df_list[5]
#     .drop('Year ending',axis=1)
# offence_division_summary_df.info()

In [14]:
offence_division_summary_df2=pd.merge(offence_division_summary_df, region_lga_df [["Police Region","Local Government Area"]],
       on="Local Government Area")

offence_division_summary_2019_2022_df = offence_division_summary_df2.drop_duplicates()
offence_division_summary_2019_2022_df.head()

,Year,Local Government Area,A Crimes against the person,B Property and deception offences,C Drug offences,D Public order and security offences,E Justice procedures offences,F Other offences,Police Region
0,2019,Alpine,114,161,26.0,48,50,NaN,2 Eastern
10,2020,Alpine,92,220,24.0,47,52,4.0,2 Eastern
20,2021,Alpine,103,138,21.0,37,62,39.0,2 Eastern
30,2022,Alpine,86,149,16.0,33,61,25.0,2 Eastern
40,2019,Ararat,223,376,65.0,81,165,2.0,4 Western

In [32]:
lgas = offence_division_summary_2019_2022_df['Local Government Area'].unique().tolist()
lgas

['Alpine',
 'Ararat',
 'Ballarat',
 'Banyule',
 'Bass Coast',
 'Baw Baw',
 'Bayside',
 'Benalla',
 'Boroondara',
 'Brimbank',
 'Buloke',
 'Campaspe',
 'Cardinia',
 'Casey',
 'Central Goldfields',
 'Colac-Otway',
 'Corangamite',
 'Darebin',
 'East Gippsland',
 'Frankston',
 'Gannawarra',
 'Glen Eira',
 'Glenelg',
 'Golden Plains',
 'Greater Bendigo',
 'Greater Dandenong',
 'Greater Geelong',
 'Greater Shepparton',
 'Hepburn',
 'Hindmarsh',
 'Hobsons Bay',
 'Horsham',
 'Hume',
 'Indigo',
 'Kingston',
 'Knox',
 'Latrobe',
 'Loddon',
 'Macedon Ranges',
 'Manningham',
 'Mansfield',
 'Maribyrnong',
 'Maroondah',
 'Melbourne',
 'Melton',
 'Mildura',
 'Mitchell',
 'Moira',
 'Monash',
 'Moonee Valley',
 'Moorabool',
 'Moreland',
 'Mornington Peninsula',
 'Mount Alexander',
 'Moyne',
 'Murrindindi',
 'Nillumbik',
 'Northern Grampians',
 'Port Phillip',
 'Pyrenees',
 'Queenscliffe',
 'South Gippsland',
 'Southern Grampians',
 'Stonnington',
 'Strathbogie',
 'Surf Coast',
 'Swan Hill',
 'Towong',
 'Wangaratta',
 'Warrnambool',
 'Wellington',
 'West Wimmera',
 'Whitehorse',
 'Whittlesea',
 'Wodonga',
 'Wyndham',
 'Yarra',
 'Yarra Ranges',
 'Yarriambiack']

###Export to .csv

In [41]:
import json

payload = {}

for lga in offence_division_summary_2019_2022_df['Local Government Area'].unique().tolist():
    df = offence_division_summary_2019_2022_df.loc[offence_division_summary_2019_2022_df['Local Government Area'] == lga].groupby\
        (['Local Government Area','Year']).agg(sum).reset_index().drop('Local Government Area',axis =1).set_index('Year')
    df
    dataStackedBar = {'labels': df.index.tolist(),'datasets':[]}

    colors = ['#cbd4c2ff','#dbebc0ff','#c3b299ff','#815355ff','#523249ff','#000000']
    color = 0
    for col in df.columns:
        dataStackedBar['datasets'].append({
            'label': col,
            'data': df[col].values.tolist(),
            'backgroundColor': colors[color]
        })
        color += 1
    payload[lga] = dataStackedBar

with open('bardata.json','w') as output:
    json.dump(payload,output)

In [23]:
offence_division_summary_2019_2022_df.to_csv('Offence_division_summary_2019_2022.csv',index=0)
crime = pd.read_csv('Offence_division_summary_2019_2022.csv')

In [14]:
offence_2019_2022_df.to_csv('crime_data_2019_2022.csv',index=0)
crime = pd.read_csv('crime_data_2019_2022.csv')

In [15]:
conn = sql.connect('crime.db')
crime.to_sql('crime', conn)

/Users/juliacooper/opt/anaconda3/envs/bootcamp/lib/python3.7/site-packages/pandas/core/generic.py:2882: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  method=method,

ValueError: Table 'crime' already exists.

In [18]:
all_df = pd.read_sql('SELECT * FROM crime', conn)

In [20]:
# all_df.head()

In [15]:
all_df.head()

,index,Year,Offence Division,Offence Subdivision,Offence Subgroup,Incidents Recorded,"PSA Rate per 100,000 population","LGA Rate per 100,000 population",Local Government Area,Police Service Area,Police Region
0,0,2022,A Crimes against the person,A10 Homicide and related offences,A10 Homicide and related offences,5,4.059101,4.328089,Ballarat,Ballarat,4 Western
1,1,2022,A Crimes against the person,A20 Assault and related offences,A211 FV Serious assault,120,97.418429,103.874128,Ballarat,Ballarat,4 Western
2,2,2022,A Crimes against the person,A20 Assault and related offences,A212 Non-FV Serious assault,147,119.337575,127.245807,Ballarat,Ballarat,4 Western
3,3,2022,A Crimes against the person,A20 Assault and related offences,"A22 Assault police, emergency services or othe...",53,43.026473,45.877740,Ballarat,Ballarat,4 Western
4,4,2022,A Crimes against the person,A20 Assault and related offences,A231 FV Common assault,222,180.224093,192.167137,Ballarat,Ballarat,4 Western

In [21]:
filter_df = all_df.groupby(["Year","Offence Division","Offence Subdivision"])["Incidents Recorded"].sum()
filter_df = filter_df.reset_index()
filter_df

,Year,Offence Division,Offence Subdivision,Incidents Recorded
0,2019,A Crimes against the person,A10 Homicide and related offences,178
1,2019,A Crimes against the person,A20 Assault and related offences,39800
2,2019,A Crimes against the person,A30 Sexual offences,8367
3,2019,A Crimes against the person,A40 Abduction and related offences,437
4,2019,A Crimes against the person,A50 Robbery,2614
...,...,...,...,...
107,2022,E Justice procedures offences,E20 Breaches of orders,42285
108,2022,F Other offences,F10 Regulatory driving offences,17
109,2022,F Other offences,F20 Transport regulation offences,157
110,2022,F Other offences,F30 Other government regulatory offences,134
111,2022,F Other offences,F90 Miscellaneous offences,10139

In [17]:
import json

#https://stackoverflow.com/questions/59946453/creating-a-flare-json-to-be-used-in-d3-from-pandas-dataframe
#initialise a flare dictionary
flare = {"name": "flare", "children": []}

# iterate through dataframe values
for row in filter_df.values:
    level0 = row[0]
    level1 = row[1]
    level2 = row[2]
    value = row[3]
    
    # create a dictionary with all the row data
    d = {'name': level0,
          'children': [{'name': level1,
                        'children': [{'name': level2,
                                      'value': value}]}]}
    # initialize key lists
    key0 = []
    key1 = []

    # iterate through first level node names
    for i in flare['children']:
        key0.append(i['name'])

        # iterate through next level node names
        key1 = []
        for _, v in i.items():
            if isinstance(v, list):
                for x in v:
                    key1.append(x['name'])

    # add the full row of data if the root is not in key0
    if level0 not in key0:
        d = {'name': level0,
              'children': [{'name': level1,
                            'children': [{'name': level2,
                                          'value': value}]}]}
        flare['children'].append(d)

    elif level1 not in key1:

        # if the root exists, then append only the next level children

        d = {'name': level1,
              'children': [{'name': level2,
                            'value': value}]}

        flare['children'][key0.index(level0)]['children'].append(d)

    else:

        # if the root exists, then only append the next level children
        
        d = {'name': level2,
             'value': value}

        flare['children'][key0.index(level0)]['children'][key1.index(level1)]['children'].append(d)

# uncomment next three lines to save as json file
# save to some file
with open('flare.json', 'w') as outfile:
    json.dump(flare, outfile)

print(json.dumps(flare, indent=2))

{
  "name": "flare",
  "children": [
    {
      "name": 2019,
      "children": [
        {
          "name": "A Crimes against the person",
          "children": [
            {
              "name": "A10 Homicide and related offences",
              "value": 178
            },
            {
              "name": "A20 Assault and related offences",
              "value": 39800
            },
            {
              "name": "A30 Sexual offences",
              "value": 8367
            },
            {
              "name": "A40 Abduction and related offences",
              "value": 437
            },
            {
              "name": "A50 Robbery",
              "value": 2614
            },
            {
              "name": "A60 Blackmail and extortion",
              "value": 178
            },
            {
              "name": "A70 Stalking, harassment and threatening behaviour",
              "value": 7156
            },
            {
              "name": "A80 Dangerous and negligent acts endangering people",
              "value": 4063
            }
          ]
        },
        {
          "name": "B Property and deception offences",
          "children": [
            {
              "name": "B10 Arson",
              "value": 2991
            },
            {
              "name": "B20 Property damage",
              "value": 33650
            },
            {
              "name": "B30 Burglary/Break and enter",
              "value": 36681
            },
            {
              "name": "B40 Theft",
              "value": 135479
            },
            {
              "name": "B50 Deception",
              "value": 22546
            },
            {
              "name": "B60 Bribery",
              "value": 4
            }
          ]
        },
        {
          "name": "C Drug offences",
          "children": [
            {
              "name": "C10 Drug dealing and trafficking",
              "value": 3009
            },
            {
              "name": "C20 Cultivate or manufacture drugs",
              "value": 1098
            },
            {
              "name": "C30 Drug use and possession",
              "value": 11900
            },
            {
              "name": "C90 Other drug offences",
              "value": 30
            }
          ]
        },
        {
          "name": "D Public order and security offences",
          "children": [
            {
              "name": "D10 Weapons and explosives offences",
              "value": 9602
            },
            {
              "name": "D20 Disorderly and offensive conduct",
              "value": 12174
            },
            {
              "name": "D30 Public nuisance offences",
              "value": 2187
            },
            {
              "name": "D40 Public security offences",
              "value": 26
            }
          ]
        },
        {
          "name": "E Justice procedures offences",
          "children": [
            {
              "name": "E10 Justice procedures",
              "value": 7540
            },
            {
              "name": "E20 Breaches of orders",
              "value": 41589
            }
          ]
        },
        {
          "name": "F Other offences",
          "children": [
            {
              "name": "F10 Regulatory driving offences",
              "value": 8
            },
            {
              "name": "F20 Transport regulation offences",
              "value": 267
            },
            {
              "name": "F30 Other government regulatory offences",
              "value": 191
            },
            {
              "name": "F90 Miscellaneous offences",
              "value": 317
            }
          ]
        }
      ]
    },
    {
      "name": 2020,
      "children": [
        {
          "name": "A Crimes against the person",
          "children": [
            {
              "name": "A10 Homicide and related offences",
              "value": 201
            },
            {
              "name": "A20 Assault and related offences",
              "value": 41389
            },
            {
              "name": "A30 Sexual offences",
              "value": 8164
            },
            {
              "name": "A40 Abduction and related offences",
              "value": 441
            },
            {
              "name": "A50 Robbery",
              "value": 3186
            },
            {
              "name": "A60 Blackmail and extortion",
              "value": 158
            },
            {
              "name": "A70 Stalking, harassment and threatening behaviour",
              "value": 7287
            },
            {
              "name": "A80 Dangerous and negligent acts endangering people",
              "value": 3751
            }
          ]
        },
        {
          "name": "B Property and deception offences",
          "children": [
            {
              "name": "B10 Arson",
              "value": 2540
            },
            {
              "name": "B20 Property damage",
              "value": 35277
            },
            {
              "name": "B30 Burglary/Break and enter",
              "value": 40489
            },
            {
              "name": "B40 Theft",
              "value": 152561
            },
            {
              "name": "B50 Deception",
              "value": 22437
            },
            {
              "name": "B60 Bribery",
              "value": 2
            }
          ]
        },
        {
          "name": "C Drug offences",
          "children": [
            {
              "name": "C10 Drug dealing and trafficking",
              "value": 3099
            },
            {
              "name": "C20 Cultivate or manufacture drugs",
              "value": 1102
            },
            {
              "name": "C30 Drug use and possession",
              "value": 12154
            },
            {
              "name": "C90 Other drug offences",
              "value": 37
            }
          ]
        },
        {
          "name": "D Public order and security offences",
          "children": [
            {
              "name": "D10 Weapons and explosives offences",
              "value": 9349
            },
            {
              "name": "D20 Disorderly and offensive conduct",
              "value": 8899
            },
            {
              "name": "D30 Public nuisance offences",
              "value": 2010
            },
            {
              "name": "D40 Public security offences",
              "value": 35
            }
          ]
        },
        {
          "name": "E Justice procedures offences",
          "children": [
            {
              "name": "E10 Justice procedures",
              "value": 7706
            },
            {
              "name": "E20 Breaches of orders",
              "value": 43883
            }
          ]
        },
        {
          "name": "F Other offences",
          "children": [
            {
              "name": "F10 Regulatory driving offences",
              "value": 12
            },
            {
              "name": "F20 Transport regulation offences",
              "value": 221
            },
            {
              "name": "F30 Other government regulatory offences",
              "value": 190
            },
            {
              "name": "F90 Miscellaneous offences",
              "value": 273
            }
          ]
        }
      ]
    },
    {
      "name": 2021,
      "children": [
        {
          "name": "A Crimes against the person",
          "children": [
            {
              "name": "A10 Homicide and related offences",
              "value": 182
            },
            {
              "name": "A20 Assault and related offences",
              "value": 40802
            },
            {
              "name": "A30 Sexual offences",
              "value": 8337
            },
            {
              "name": "A40 Abduction and related offences",
              "value": 424
            },
            {
              "name": "A50 Robbery",
              "value": 1929
            },
            {
              "name": "A60 Blackmail and extortion",
              "value": 165
            },
            {
              "name": "A70 Stalking, harassment and threatening behaviour",
              "value": 7925
            },
            {
              "name": "A80 Dangerous and negligent acts endangering people",
              "value": 4122
            }
          ]
        },
        {
          "name": "B Property and deception offences",
          "children": [
            {
              "name": "B10 Arson",
              "value": 1919
            },
            {
              "name": "B20 Property damage",
              "value": 31602
            },
            {
              "name": "B30 Burglary/Break and enter",
              "value": 28274
            },
            {
              "name": "B40 Theft",
              "value": 109788
            },
            {
              "name": "B50 Deception",
              "value": 21098
            },
            {
              "name": "B60 Bribery",
              "value": 3
            }
          ]
        },
        {
          "name": "C Drug offences",
          "children": [
            {
              "name": "C10 Drug dealing and trafficking",
              "value": 3480
            },
            {
              "name": "C20 Cultivate or manufacture drugs",
              "value": 1643
            },
            {
              "name": "C30 Drug use and possession",
              "value": 13113
            },
            {
              "name": "C90 Other drug offences",
              "value": 37
            }
          ]
        },
        {
          "name": "D Public order and security offences",
          "children": [
            {
              "name": "D10 Weapons and explosives offences",
              "value": 9538
            },
            {
              "name": "D20 Disorderly and offensive conduct",
              "value": 7039
            },
            {
              "name": "D30 Public nuisance offences",
              "value": 2048
            },
            {
              "name": "D40 Public security offences",
              "value": 28
            }
          ]
        },
        {
          "name": "E Justice procedures offences",
          "children": [
            {
              "name": "E10 Justice procedures",
              "value": 8682
            },
            {
              "name": "E20 Breaches of orders",
              "value": 45202
            }
          ]
        },
        {
          "name": "F Other offences",
          "children": [
            {
              "name": "F10 Regulatory driving offences",
              "value": 9
            },
            {
              "name": "F20 Transport regulation offences",
              "value": 156
            },
            {
              "name": "F30 Other government regulatory offences",
              "value": 171
            },
            {
              "name": "F90 Miscellaneous offences",
              "value": 37319
            }
          ]
        }
      ]
    },
    {
      "name": 2022,
      "children": [
        {
          "name": "A Crimes against the person",
          "children": [
            {
              "name": "A10 Homicide and related offences",
              "value": 174
            },
            {
              "name": "A20 Assault and related offences",
              "value": 40525
            },
            {
              "name": "A30 Sexual offences",
              "value": 8941
            },
            {
              "name": "A40 Abduction and related offences",
              "value": 418
            },
            {
              "name": "A50 Robbery",
              "value": 1840
            },
            {
              "name": "A60 Blackmail and extortion",
              "value": 212
            },
            {
              "name": "A70 Stalking, harassment and threatening behaviour",
              "value": 8102
            },
            {
              "name": "A80 Dangerous and negligent acts endangering people",
              "value": 4042
            }
          ]
        },
        {
          "name": "B Property and deception offences",
          "children": [
            {
              "name": "B10 Arson",
              "value": 1924
            },
            {
              "name": "B20 Property damage",
              "value": 31474
            },
            {
              "name": "B30 Burglary/Break and enter",
              "value": 27846
            },
            {
              "name": "B40 Theft",
              "value": 108683
            },
            {
              "name": "B50 Deception",
              "value": 17403
            },
            {
              "name": "B60 Bribery",
              "value": 3
            }
          ]
        },
        {
          "name": "C Drug offences",
          "children": [
            {
              "name": "C10 Drug dealing and trafficking",
              "value": 2457
            },
            {
              "name": "C20 Cultivate or manufacture drugs",
              "value": 1418
            },
            {
              "name": "C30 Drug use and possession",
              "value": 9734
            },
            {
              "name": "C90 Other drug offences",
              "value": 49
            }
          ]
        },
        {
          "name": "D Public order and security offences",
          "children": [
            {
              "name": "D10 Weapons and explosives offences",
              "value": 8526
            },
            {
              "name": "D20 Disorderly and offensive conduct",
              "value": 5986
            },
            {
              "name": "D30 Public nuisance offences",
              "value": 1906
            },
            {
              "name": "D40 Public security offences",
              "value": 25
            }
          ]
        },
        {
          "name": "E Justice procedures offences",
          "children": [
            {
              "name": "E10 Justice procedures",
              "value": 7775
            },
            {
              "name": "E20 Breaches of orders",
              "value": 42285
            }
          ]
        },
        {
          "name": "F Other offences",
          "children": [
            {
              "name": "F10 Regulatory driving offences",
              "value": 17
            },
            {
              "name": "F20 Transport regulation offences",
              "value": 157
            },
            {
              "name": "F30 Other government regulatory offences",
              "value": 134
            },
            {
              "name": "F90 Miscellaneous offences",
              "value": 10139
            }
          ]
        }
      ]
    }
  ]
}